<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>com.faceart.faceart.servlets.IndexServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/faceart</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShopServlet</servlet-name>
        <servlet-class>com.faceart.faceart.servlets.ShopServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShopServlet</servlet-name>
        <url-pattern>/shop</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MyProductsServlet</servlet-name>
        <servlet-class>com.faceart.faceart.servlets.product.MyProductsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyProductsServlet</servlet-name>
        <url-pattern>/my-products</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.faceart.faceart.servlets.users.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.faceart.faceart.servlets.users.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AccountServlet</servlet-name>
        <servlet-class>com.faceart.faceart.servlets.users.AccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountServlet</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>com.faceart.faceart.servlets.product.AddProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/add-product</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RemoveProductServlet</servlet-name>
        <servlet-class>com.faceart.faceart.servlets.product.RemoveProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemoveProductServlet</servlet-name>
        <url-pattern>/remove-product</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditProductServlet</servlet-name>
        <servlet-class>com.faceart.faceart.servlets.product.EditProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditProductServlet</servlet-name>
        <url-pattern>/edit-product</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ManageUsersServlet</servlet-name>
        <servlet-class>com.faceart.faceart.servlets.admin.ManageUsersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageUsersServlet</servlet-name>
        <url-pattern>/manage-users</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShowUserProductsServlet</servlet-name>
        <servlet-class>com.faceart.faceart.servlets.admin.ShowUserProductsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowUserProductsServlet</servlet-name>
        <url-pattern>/show-user-products</url-pattern>
    </servlet-mapping>
</web-app>